

<!-- Header section -->
<header class="bg-dark">
    <div class="container">
        <!-- <div class="row"> -->

        <div class="top-navbar">

            <nav class="navbar navbar-light">
                <a class=" brand navbar-brand">Basic 90</a>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search our website"
                        aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </nav>


        </div>

        <div class="bottom-navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="home">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="datasheet">DATA SHEET</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TEXTLIINK2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TEXTLIINK3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TEXTLIINK4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-padding" href="#">TEXTLIINK5</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- </div> -->


    </div>
  </header>
