/* *******************  Navigation bar CSS styles**************** */

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 15px;
   
 }

 .heading-white {
     color: #fff;
     font-weight: bold;
     font-size: 20px;
     opacity: 0.5px;
 }
 
 .heading-bottom {
     padding-bottom: 10px;
 }
 
 .heading-dark {
     color: #000000;
     font-weight: bold;
     font-size: 20px;
     margin-left: 10px;
     opacity: 0.5px;
 }
 
 .paragraph-white {
     color: #fff;
     opacity: 0.1rem;
     line-height: 1.5;
     opacity: 0.5;
     font-size: 14px;
 
 }
 
 .paragraph-dark {
     color: #000000;
     opacity: 0.5px;
     line-height: 1.5;
     margin-left: 10px;
     font-size: 14px;
 
 }
 
  /* top navbar settings */

 .navbar {
     padding-left: 0px;
     padding-right: 0px;
  } 
 
 
 /*This is for brand logo*/
 a:not([href]):not([tabindex]) {
     color: #fff;
 }
 
 .navbar-brand {
     font-size: 2rem;
     font-weight: bold;
     color: #fff; 
 }
 
 .nav-link {
     margin-right: 20px;
 }
 
 
 .btn {
     background-color: orange;
 }
 
 /* bottom navbar settings */

 .navbar-collapse {
     background-color: #000000;
     color: #fff;
     font-weight: bold;

 }
 
 a.nav-link:hover {
     background-color: orange;
 }

 /* ************************END of NAVIGATION BAR CSS styles************************ */