/* ******************** FOOTER SECTION***************************** */

.page-footer {
    margin-top: 30px;
}
.top-footer {
    color: #fff;
}

.top-footer ul {
    padding: 0px;
    list-style-type: none;
}

.top-footer li {
    padding: 0px;
    border-bottom: 1px solid #6f6f6f;
    list-style-type: none;
}

.bottom-footer {
    background-color: black;
    
    /* opacity: 0.1rem; */
    padding: 20px 0;
    color: #9D9D9D;
}

.footer-link {
    color: orange;
    
    line-height: 2;
    /* text-decoration: underline; */
}

a.footer-link:hover {
    background-color: orangered;
}

 /* ******************** END FOOTER SECTION***************************** */
