

<!-- Footer Section -->

<footer class="page-footer font-small bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left top-footer">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LINK BLOCK</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href="#!">link 1</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">link 2</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">link 3</a>
            </li>
           
            <li>
              <a class="footer-link" href="#!">link 4</a>
            </li>
         
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LINK BLOCK</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href="#!">Link 1</a>
            </li>
          
            <li>
              <a class="footer-link" href="#!">Link 2</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">Link 3</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">Link 4</a>
            </li>
       
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LINK BLOCK</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href="#!">Link 1</a>
            </li>
        
            <li>
              <a class="footer-link" href="#!">Link 2</a>
            </li>
        
            <li>
              <a class="footer-link" href="#!">Link 3</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">Link 4</a>
            </li>
         
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LINK BLOCK</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href="#!">Link 1</a>
            </li>
        
            <li>
              <a class="footer-link" href="#!">Link 2</a>
            </li>
         
            <li>
              <a class="footer-link" href="#!">Link 3</a>
            </li>
        
            <li>
              <a class="footer-link" href="#!">Link 4</a>
            </li>
        
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
  
    <div class=" bottom-footer">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h6>Copyright © 2009-2020 All Rights Reserved-Domain Name</h6>
          </div>
    
          <div class="col-lg-6 " style="text-align: right;">
            <h6>Template by OS Template</h6>
          </div>
    
        </div>
      </div>
    </div>
   
    
    <!-- Copyright -->
  
  </footer>
