
<!-- Table Section -->
<div class="container spread-table">
  <table id="tableData" class="table table-hover table-dark">
    <thead>

      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>

    </thead>

    <tbody id="tableData_body">

      <tr *ngFor = "let eachData of fetchedData">
        <td>{{eachData.Employee_Id}}</td>
        <td>{{eachData.FirstName}}</td>
        <td>{{eachData.LastName}}</td>
      </tr>

    </tbody>
  </table>
</div>


