/* You can add global styles to this file, and also import other style files */

.showPop {
    display: block !important;
}

/* // this is to roll the form... */
.modal {
    overflow: auto;
}




 /* ****************************Table style************************* */

 /* Style inputs, select elements and textareas */
 input[type=text], [type=email], [type=password], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* ********************Table section****************** */

.table-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.table-heading {
  display: inline-block;
}

.open-button {
  float: right;
  margin-right: 0;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
}

button.open-button:hover {
  background-color: orange;
}

.edit_button {
background-color: rgb(212, 208, 201);
margin-right: 10px;
color: #000000;
/* font-weight: bold; */
}
.edit_button:hover {
background-color: orange;
}

.delete_button {
background-color: rgb(212, 208, 201);
margin-right: 10px;
color: #000000;
}

.delete_button:hover {
background-color: orange;
}

/* ********************Spread sheet Table section****************** */

.spread-table {

  margin-top: 100px;
  margin-bottom: 100px;
}

/* ******************** THIS is for table edit and delete anchor tag style***************************** */


/* .hide{
display:none;
}  */

.hide-button {
visibility: hidden;
}

.display-button {
visibility: unset;
}





/* Validation styles */

.ng-invalid.ng-touched {
border-color: red;
}

.error-block {
 color: red;
}

