<div class="container table-section">
  <div class="">
      <h3 class="table-heading">Table</h3>
      <button type="button" class="open-button" (click) = "createData()" >
          Open
      </button>

        <!-- Modal -->
        <!-- showPop is custom CSS class and isPopOpen is boolean to open the form-->
        <div class="modal fade show" [ngClass]="{'showPop':isPopOpen}" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Registration Form</h5>
                <button type="button" class="close" (click) = "closePop()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <form [formGroup]="studentForm" (ngSubmit)="submitData()">

                        <div class="row form-group">
                          <div class="col-25">
                            <label class="iD">ID</label>
                          </div>
                          <div class="col-75">

                            <input
                                    type="number" id="unique_id" name="iD"
                                    formControlName="iD" class="form-control"
                                    placeholder="Unique number.."
                                    readonly>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label class="validation-error"
                                    id="studentNameValidationError">Student Name</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="studentName"
                                    name="studentName"
                                    class="form-control" value=""
                                    placeholder="Student Name.."
                                    formControlName="studentName">

                                    <span *ngIf="!studentName.valid &&
                                          (studentName.touched || userSubmitted)" class="error-block">

                                      Student name is required.
                                    </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="fname">Father Name</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="fatherName"
                                  formControlName="fatherName" name="fatherName"
                                  class="form-control" value=""
                                  placeholder="Father name">

                                  <span *ngIf="!fatherName.valid &&
                                          (fatherName.touched || userSubmitted)" class="error-block">

                                      Father name is required.
                                    </span>

                          </div>
                        </div>

                        <!-- <div class="row">
                          <div class="col-25">
                              <label for="">Gender: </label>
                          </div>
                          <div class="col-75">
                              <input type="radio" id="gender" name="gender" value="male">
                              <label for="">Male</label>
                              <input type="radio" id="gender" name="gender" value="female">
                              <label for="">Female</label>
                          </div>
                       </div>

                       <div class="row">
                          <div class="col-25">
                            <label for="dob">Date of Birth:</label>
                          </div>
                          <div class="col-75">
                            <input type="date" id="dob" name="dob" value="">
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-25">
                            <label for="Department">Department</label>
                          </div>
                          <div class="col-75">
                            <select id="department" name="department">
                              <option value="CSE">CSE</option>
                              <option value="ECE">ECE</option>
                              <option value="IT">IT</option>
                            </select>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-25">
                            <label for="Address">Address</label>
                          </div>
                          <div class="col-75">
                            <textarea id="address" name="address" value="" placeholder="Write something.." style="height:100px"></textarea>
                          </div>
                        </div> -->

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="email">Email ID</label>
                          </div>
                          <div class="col-75">
                            <input type="email" id="email"
                                    formControlName="email" name="email"
                                    class="form-control" value=""
                                    placeholder="Email">

                                    <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">

                                      <span *ngIf="email.hasError('required')">
                                        Email is required...
                                      </span>

                                      <span *ngIf="email.hasError('email')">
                                        Email must be valid...
                                      </span>

                                    </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="password">Password</label>
                          </div>
                          <div class="col-75">
                            <input type="password" id="password"
                                    formControlName="password" name="password"
                                    class="form-control" value=""
                                    placeholder="Enter Password..">

                                    <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">

                                      <span *ngIf="password.hasError('required')">
                                        Password is required...
                                      </span>

                                      <span *ngIf="password.errors?.minlength">
                                        Password should not be lesser than 8 character...
                                      </span>

                                    </span>

                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="confirmPassword">Confirm Password</label>
                          </div>
                          <div class="col-75">
                            <input type="password" id="confirmPassword"
                                    formControlName="confirmPassword" name="confirmPassword"
                                    class="form-control" value=""
                                    placeholder="Re-Enter Password">

                                    <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">

                                      <span *ngIf="confirmPassword.hasError('required')">
                                        Confirm password is required...
                                      </span>
                                    </span>

                                      <span *ngIf="studentForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
                                        Password not match...
                                      </span>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-25">
                            <label for="mobileNumber">Mobile Number</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="mobileNumber"
                                    formControlName="mobileNumber" name="mobileNumber"
                                    class="form-control" value=""
                                    placeholder="10-digit number..">

                                    <span *ngIf="!mobileNumber.valid && (mobileNumber.touched || userSubmitted)" class="error-block">

                                      <span *ngIf="mobileNumber.hasError('required')">
                                        Mobile Number is required...
                                      </span>

                                      <span *ngIf="mobileNumber.errors?.minlength">
                                        Mobile Number must be 10 digit
                                      </span>

                                    </span>

                          </div>
                        </div>

                        <!-- <div class="row">
                          <div class="col-25">
                            <label for="age">Age</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="age" name="age" value="" placeholder="Age">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-25">
                            <label for="password">Password</label>
                          </div>
                          <div class="col-75">
                            <input type="password" id="password" name="password" value="" placeholder="Password">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-25">
                            <label for="password">Confirm Password</label>
                          </div>
                          <div class="col-75">
                            <input type="password" id="confirmpassword" name="confirmpassword" value="" placeholder="Confirm Password">
                          </div>
                        </div>

                        <div class="row">
                          <input type="checkbox" id="checkbox" value="">
                          <label for=""> Agree to terms and conditions </label>
                        </div>
           -->


                        <div class="row">
                          <button type="submit" id="btnSubmit"
                                  [disabled]="studentForm.invalid"
                                  class="btn btn-warning"
                                  *ngIf="!isEdit"> Submit </button>
                        </div>

                        <!-- (click)="submitData()" -->

                      </form>
                    </div>

              </div>
              <div class="modal-footer">
                <button id="exampleModalClose" type="button" (click)="closePop()">Close</button>

                <button type="button" id="btnEditSave"
                        class="btn btn-primary save-button"
                        *ngIf="isEdit"
                        (click)="submitData()">Save</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <table id="tableData" class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">Father Name</th>
          <!-- <th scope="col">Gender</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Department</th>
          <th scope="col">Address</th> -->
          <th scope="col">Email ID</th>
          <th scope="col">Password</th>
          <th scope="col">Confirm Password</th>
          <th scope="col">Mobile Number</th>
          <!-- <th scope="col">Age</th>
          <th scope="col">Password</th>
          <th scope="col">Confirm Password</th> -->
        </tr>
        <!-- <tr *ngFor="let data of columns; let i = index">
          <th>
            {{data.name}}
          </th>
        </tr> -->
      </thead>
      <tbody id="tableData_body">
        <tr  *ngFor = "let data of studentList; let i = index">
          <td>{{i +1}}</td>
          <td>{{data.iD}}</td>
          <td>{{data.studentName}}</td>
          <td>{{data.fatherName}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>
          <td>{{data.confirmPassword}}</td>
          <td>{{data.mobileNumber}}</td>
          <td>
            <button type="button" (click)="editData(data.iD)"
            class="edit_button btn btn-primary">Edit</button>

            <button type="button" (click)="deleteData(i)"
            class="delete_button btn btn-primary">Delete</button>
          </td>

        </tr>

      </tbody>
    </table>
</div>
